/*common elements across all pages*/
#header{
	text-align: center;
}
#footer{
	text-align: center;
}
body{
	font-family: "Comic Sans MS";
}
#navigation{
	text-align: left;
}
a:hover{
	color: red;
}


