/*common elements across all pages*/
body
{
	font-family: "Comic Sans MS";
}
a
{
	text-decoration: none;
}
a:visited
{
	color: black;
}
a:hover
{
	color: #e0410b;
}
/*Header and Footer*/
#header
{
	text-align: left;
}
footer
{	
text-align: center;
}
#restaurantName
{
	text-align: center;
}
