/*common elements across all pages*/
#header{
	text-align: center;
}
#footer{
	text-align: center;
}
body{
	font-family: "Comic Sans MS", Comic Sans, cursive;
}
#navigation{
	text-align: center;
}
a:hover{
	color: red;
}
.red .active a,
.red .active a:hover {
    background-color: red;
}


